.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  .main {
    flex: 1;
    display: flex;
    .player {
      flex: 1;
    }
  }
  .aside {
    display: flex;
    flex-direction: column;
    width: 400px;
    background: var(--background-primary);
    .playlist {
      flex: 1;
    }
  }
}
