.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: var(--background-primary);
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    .youtube {
      flex: 1;
      display: grid;
      place-items: center;
      .player {
        width: 100%;
        height: 100%;
      }
    }
  }
  .aside {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex-shrink: 0;
    .playlist {
      flex: 1;
    }
  }
}
